<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <title>Araba Sizin</title>
</head>
<body>
    <header>
        <!--Menü Çubuğu-->
        <div class="container">
            <br />
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="/Content/images/logo.png" width="65" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        @Html.Partial("Arama")

                        @Html.Action("DurumList", "Durum")

                        @Html.Partial("LoginPartial")"

                    </div>
                </div>
            </nav>
        </div>

    </header>
    @RenderBody()
    <footer>
        <!--Footer-->
        <div class="container">
            <br />
            <div class="row well" style="background-color:black">
                <div class="col-md-1">

                </div>
                <div class="col-md-8">
                    <h6 style="color:snow; padding:15px 0px 0px 0px">İLETİŞİM</h6>
                    <ul class="list-unstyled">
                        <li><a href="/Account/Login" style="color:snow; text-decoration:none">GİRİŞ</a></li>
                        <li><a href="/Account/Register" style="color:snow; text-decoration:none">ÜYE OL</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h5 style="color:snow; padding:15px 0px 0px 0px">SOSYAL MEDYA</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.instagram.com/atkn.trgt/">
                                <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="AtakanTurgut" height="40" width="50" />
                            </a>
                            <a href="https://linkedin.com/in/atakan-turgut-8b3847206">
                                <img src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="AtakanTurgut" height="40" width="50" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>